.App{
  display: flex;
  align-items: center;
  height: 100vh;
}
.quiz{
  background-color: azure;
  margin: 0 auto;
  text-align: center;
  width: 65%;
  font-weight: bolder;
  border: 10px solid black ;
  border-radius: 2.0rem;
}
button{
  background-color: indigo;
  color: white;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 2rem;
}
button:hover{
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1.5rem;
}